{% extends 'base.html.twig' %}

{% block title %}Faq Edit
{% endblock %}

{% block body %}
	<H1>Faq Edit</H1>

	{{ form_start(formQR) }}
	{{ form_errors(formQR) }}

	{{ form_row(formQR.question) }}
	{{ form_row(formQR.reponse) }}

	{{ form_end(formQR) }}

{% endblock %}
