{% extends 'base.html.twig' %}

{% block title %}Faq New
{% endblock %}

{% block body %}
	<H1>Faq New</H1>

	{{ form_start(formQR) }}
	{{ form_errors(formQR) }}

	{{ form_row(formQR.question) }}
	{{ form_row(formQR.reponse) }}
	{{ form_row(formQR.submit, { 'label': 'Créer' }) }}

	{{ form_end(formQR) }}

{% endblock %}
