{% extends 'base.html.twig' %}

{% block title %}Faq Edit
{% endblock %}

{% block body %}
	<H1>Faq Edit</H1>

	{{ form_start(formQR,{'attr': {'novalidate': 'novalidate'}}) }}
	{{ form_errors(formQR) }}

	{{ form_row(formQR.question) }}
	{{ form_row(formQR.reponse) }}
	{{ form_row(formQR.submit, { 'label': 'Editer' }) }}

	{{ form_end(formQR) }}

{% endblock %}
